@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f0c3ef;
  color: #444;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: rgb(66, 27, 106);
  font-size: 6rem;
  text-align: center;
  opacity: 0.4;
}

form {
  max-width: 100%;
  width: 400px;
  opacity: 1;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 33px;
}

.input::placeholder {
  color: #d5d5d5;
  text-align: center;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

p {
  color: #675757;
  margin-top: 3rem;
  text-align: center;
  font-weight: bolder;
}
